<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ebook | The shelves are all booked up!</title>
<link rel='stylesheet' href='../static/css/woocommerce-layout.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)'/>
<link rel='stylesheet' href='../static/css/woocommerce.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/css/font-awesome.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/css/Home.css' type='text/css' media='all'/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>
<link rel='stylesheet' href='../static/css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
</head>
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page">
<div id="page">
	<div class="container">
		<header id="masthead" class="site-header">
		<div class="site-branding">
			<h1 class="site-title"><a href="index.html" rel="home">EBook</a></h1>
			<h2 class="site-description">The shelves are all booked up!</h2>
		</div>
		<nav id="site-navigation" class="main-navigation">
		<button class="menu-toggle">Menu</button>
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
		<div class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/allproducts">All products</a></li>
				<li><a href="/cart">Cart</a></li>
				{% if not loggedin %}
		        <li><a href="/register">Register</a></li>
		        <li><a href="/login">Login</a></li>
	      {% else %}
            <li><a href="/logout">Sign Out</a></li>
				{% endif %}
        <li><a href="/history">Purchase History</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
		</nav>
		</header>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main" role="main">
					<table class="table">
 				 	<thead>
 				     <tr>
 				       <th scope="col">name</th>
 				       <th scope="col">image</th>
 				       <th scope="col">price</th>
 				       <th scope="col">ADD TO CART</th>
 				     </tr>
 				   </thead>
 				 {%for book in data %}
 				 <tbody>
 				     <tr>
 				       <th scope="row"><h3>{{book[2]}}</h3></th>
 				       <td><a href = "/product_detail/{{book[0]}}"><img src={{ url_for('static', filename='images/'+book[5])}} class="img-thumbnail"  id="productImage" ></a></td>
 				       <td><span class="price"><span class="amount"><h4>Rs {{book[3]}}</h4></span></span></td>
 				       <td><form action="/AddCart" class="cart" method="post" enctype='multipart/form-data'>
 				 				<input type="hidden" name="ProductId" value="{{book[0]}}"/>
 				 				<button type="submit" class="single_add_to_cart_button button alt"><b>Add to cart</b></button>
 				 			</form></td>
 				     </tr>
 				 	</tbody>
 				 {% endfor %}
 				 </table>
		</main>
  </div>
</div>
  </div>
</div>






	<footer id="colophon" class="site-footer">
	<div class="container">
		<div class="site-info">
			<h1 style="font-family: 'Herr Von Muellerhoff';color: #ccc;font-weight:300;text-align: center;margin-bottom:0;margin-top:0;line-height:1.4;font-size: 46px;">Ebook</h1>
			<a target="blank" href="https://www.wowthemes.net/">&copy; EBook - The shelves are all booked up!</a>
		</div>
	</div>
	</footer>
	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->
<script src='js/jquery.js'></script>
<script src='js/plugins.js'></script>
<script src='js/scripts.js'></script>
<script src='js/masonry.pkgd.min.js'></script>
</body>
</html>
